@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(css/media.css);
@import url(css/reset.css);
/* ----------------------------Блок присоединения шрифтов--------------------------------*/

@font-face {
font-family: 'Trebuchet-MS-Regular_';
src: url('fonts/Trebuchet-MS-Regular_.eot');
src: url('fonts/Trebuchet-MS-Regular_.eot?#iefix') format('embedded-opentype'),
 url('fonts/Trebuchet-MS-Regular_.woff') format('woff'),
 url('fonts/Trebuchet-MS-Regular_.ttf') format('truetype'),
 url('fonts/Trebuchet-MS-Regular_.svg#fonts/Trebuchet-MS-Regular_') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'SegoeUIRegular';
src: url('fonts/SegoeUI/SegoeUIRegular/SegoeUIRegular.eot');
src: url('fonts/SegoeUI/SegoeUIRegular/SegoeUIRegular.eot?#iefix') format('embedded-opentype'),
 url('fonts/SegoeUI/SegoeUIRegular/SegoeUIRegular.woff') format('woff'),
 url('fonts/SegoeUI/SegoeUIRegular/SegoeUIRegular.ttf') format('truetype'),
 url('fonts/SegoeUI/SegoeUIRegular/SegoeUIRegular.svg#fonts/SegoeUI/SegoeUIRegular/SegoeUIRegular') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'SegoeUIBold';
src: url('fonts/SegoeUI/SegoeUIBold/SegoeUIBold.eot');
src: url('fonts/SegoeUI/SegoeUIBold/SegoeUIBold.eot?#iefix') format('embedded-opentype'),
 url('fonts/SegoeUI/SegoeUIBold/SegoeUIBold.woff') format('woff'),
 url('fonts/SegoeUI/SegoeUIBold/SegoeUIBold.ttf') format('truetype'),
 url('fonts/SegoeUI/SegoeUIBold/SegoeUIBold.svg#fonts/SegoeUI/SegoeUIBold/SegoeUIBold') format('svg');
font-weight: normal;
font-style: normal;
}
/* ------------------------------ Конец блока присоединения шрифтов ------------------------------*/


/*-----------------------------------------------------------------------------------*/
/*  TYPOGRAPHY
/*-----------------------------------------------------------------------------------*/
body{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    background: #e6e7e9;
}
a:hover{
	text-decoration: none;
}
.clear{
	clear: both;
}
/* ------------------------------  Start header ------------------------------ */
/*-- header-login --*/
header{
	background: #f2f2f2;
	font-size: 15px;
}
.header-login{	
	width: 100%;	
	background: #000;
}
.header-login-inner{
	overflow: hidden;
	width: 1202px;
	height: 36px;
	margin: 0 auto;
	border: 0px solid #ffccff;
}
.header-login-inner a{
	display: block;
	height: 36px;
	padding-top: 12px; 
	color: #fff;
	letter-spacing: -1px;
}
.hli-left{
	float: left;
}
.hli-left li{
	padding: 0 69px 0 0;
	float: left;
}
a.chat{
	padding-right: 26px;
	text-decoration: none;
	font-family: arial;
	font-weight: 900;
	color: #fe7800;
	background: url(images/header/chat-bg.png) no-repeat right center; 
}
a.chat span{
	color: #000;
}
.moskov{
	padding: 0 0 0 30px ;
	background: url(images/header/moskov-bg.png) no-repeat 0 center; 
}
.hli-right{
	float: right;
}
.hli-right li{
	float: left;
	
}
.sing-up{
	padding: 0 0 0 25px ;
	background: url(images/header/sing-up-bg.png) no-repeat 0 center; 
	float: left;
	letter-spacing: 0 !important;
}
.hli-right li:first-child span{
	display: block;
    margin: 12px 7px 0 6px;
	width: 1px;
	height: 21px;
	background: #fff;
	float: right;
}
.login{
	padding: 0 8px 0 25px;
	background: url(images/header/login-bg.png) no-repeat 0 center; 
	float: left;
}
.language{
	position: relative; 
	padding: 0 45px 0 30px;
    background: url(images/header/language-bg.png) no-repeat 69px center;    
}
.hli-right li a.language:after{
	position: absolute;
    right: 0;
    top: 15px;
	content: '';
	display: block;
	width: 10px;
	height: 8px;
	background: url(images/header/language-after.png) no-repeat right center; 
}
/*-- header-inner --*/
.header-inner{
	overflow: hidden;
	width: 1202px;	
	height: 85px;
	margin: 0 auto;
	padding: 6px 32px 0 0;
	border: 0px solid #00ccff;
}
.header-inner a{
	color: #636363;
}
.logo{
	float: left;
}
.logo:hover{
	opacity: 0.7;
}
.form-number{
	width: 390px;
	margin-left: 220px;
	padding-top: 3px;
	float: left;
}
a.phone-number{
	position: relative;
	padding: 0 0 0 30px;
	text-decoration: none;
	font-family: 'Trebuchet-MS-Regular_';
	font-size: 20px;
	color: #000;
	float: left;
}
.phone-number:before{
	position: absolute;
    left: 6px;
    top: 1px;
	content: '';
	display: block;
	width: 21px;
	height: 22px;
	background: url(images/header/phone-number-before.png) no-repeat right center;
}
.phone-number span{
    display: inline-block;
    padding: 0 5px 0 0;
	font-size: 15px;
	color: #636363;
}
.phone-callback{
	padding-top: 9px;    
	text-decoration: none;
	letter-spacing: 0.3px;
	float: right;
}
.form-number form{
	position: relative;
	width: 390px;
	padding-top: 4px;
	box-shadow: 3px 3px 6px rgba(0,0,0, 0.3);
	float: left;
}
.form-number input[type=text]{
	width: 353px;
	height: 38px;
	padding: 0 0 0 13px;
    border: 1px solid #e6e7e9;
}
.form-number ::-webkit-input-placeholder { /* WebKit browsers */
    vertical-align:center;
    font-weight: 300;
    font-size: 13px;
    color: #636363;
    letter-spacing: -0.5;
}
.form-number :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    vertical-align:center;
    font-weight: 300;
    font-size: 13px;
    color: #636363;
    letter-spacing: -0.5;
}
.form-number ::-moz-placeholder { /* Mozilla Firefox 19+ */
	vertical-align:center;
	font-weight: 300;
	font-size: 13px;
	color: #636363;
	letter-spacing: -0.5;
}
.form-number :-ms-input-placeholder { /* Internet Explorer 10+ */
	vertical-align:center;
	font-weight: 300;
	font-size: 13px;
	color: #636363;
	letter-spacing: -0.5;
}
.form-number input[type=submit] {
    position: absolute;
    top: 4px;
    right: 0px;
    width: 38px;
    height: 38px;
    cursor: pointer;
    background: #e6e7e9 url(images/header/search-bg.png) 7px 5px no-repeat;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid #e6e7e9;
}
.form-number input[type=submit]:hover{
	opacity: .7;
}
.card{
	display: block;
	padding: 52px 0 0 0;
	background: url(images/header/card-bg.png) center 0px no-repeat;
	float: right;
}
/*-- header-nav --*/
.header-nav{	
	width: 100%;	
	background: #000;
}
.header-nav-inner{
	overflow: hidden;
	width: 916px;
	margin: 0 auto;
	padding-left: 78px;
	border: 0px solid #ff00ff;
}
.header-nav-inner li{
	height: 47px;
	float: left;	
}
.header-nav-inner li.active{
	background: #89ecff;
}
.header-nav-inner li.active a{
	color: #000;
}
.header-nav-inner li.active span{
	background: #89ecff;
}
.header-nav-inner a{
	display: block;
	padding: 17px 16.5px 0 17px;
	text-decoration: none;
	font-weight: 600;
	font-size: 15px;
	color: #fff;
	float: left;
}
.header-nav-inner a:hover{
	text-decoration: underline;
	opacity: 0.8;
}
.header-nav-inner li:first-child a{
	padding-left: 0;
}
.header-nav-inner span {
    display: block;
    margin: 12px 0px 0 0px;
    width: 1px;
    height: 29px;
    background: #fff;
    float: right;
}
/* ------------------------------  Stop header ------------------------------ */
/* ------------------------------  Start slider-top ------------------------------ */
.slider-top{
	width: 1202px;
	height: 359px;
	margin: 0 auto;
	padding: 22px 14px 18px 14px;
	background: #fff;
	border: 0px solid #0ce0f0;
}
.slider1-block-text{
	position: absolute;
    top: 30px;
    right: 70px;
    width: 237px;
    color: #7ed1f1;
}
.slider1-block-text p{
	line-height: 24px;
	font-size: 20px;
}
.slider1-block-text h2{
	padding: 9px 0 0 0;
	font-weight: 600;
	font-size: 40px;
}
.slider1-block-text a{
    display: block;
    width: 100%;
    height: 57px;
    margin: 39px 0 0 0;
    padding: 20px 0 0 0;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: #424242;
    background: #89ecff;
    letter-spacing: 0.5px;
}
/* ------------------------------  Stop slider-top ------------------------------ */
/* ------------------------------  Start filter-block ------------------------------ */
.filter-block{
	overflow: hidden;
	width: 1202px;
	height: 123px;
	margin: 0 auto;
	padding: 22px 14px 18px 14px;
	background: url(images/filter/filter-block-bg.png);
}
.filter-block >h2{
	padding: 4px 16px 0 11px;
	font-weight: 500;
	font-size: 24px;
	color: #fff;
	float: left;
}
.filter-block a{
	text-decoration: none;
}
.filters-button{
	width: 154px;
	padding: 0 0 0 20px;
	float: left;
}
.filters-button a{	
    display: block;
    vertical-align: middle;
    width: 152px;
    height: 36px;
    padding: 11px 0 0 0;
    text-align: center;
	font-size: 16px;
	color: #424242;
	background: #fff;
	border: 1px solid rgba(1,1,1, 0.5);
}
.filters-button a:first-child{
	margin: 0px 0 6px 0;
}
.filters-button a.active{
	padding: 9px 0 0 0;
	font-weight: 600;
	font-size: 18px;
	color: #004f70;
	background: #89ecff;
	border: 1px solid #89ecff;
}
/* .filter-select-block */
.filter-select-block-left{	
	padding: 21px 7px 0 20px;
	float: left;
}
.filter-select-block-right{
	padding: 3px 1px 0 20px;
	float: left;
}
.select a:after, .select2 a:after, .select3 a:after {
    content: "";
    width: 14px;
    height: 8px;
	margin: 5px -8px 0 0;
    background: url(images/filter/filter-select-after.png)no-repeat;
    float: right;
}
.select2{
	padding-bottom: 12px;
}
/* filter-range-slider */
.filter-range-slider{
	width: 399px;
	padding-right: 49px;
	float: right;
}
.filter-range-slider >p > input{
	display: block;
    width: 360px;
    margin: -16px 0 10px 0;
    text-align: center;
	font-size: 16px;
	color: #424242;
	background: none;
    border: none;
    outline: none;
}
.pick-up{
	display: block;
    vertical-align: middle;
    width: 152px;
    height: 36px;
    margin: 25px auto 0px auto;
    padding-top: 10px;
    text-align: center;
    font-size: 16px;
    color: #424242;
    background: #fff;
    border: 1px solid rgba(1,1,1, 0.5);
}
.pick-up:hover{
	font-weight: 600;
    font-size: 18px;
    color: #004f70;
    background: #89ecff;
    border: 1px solid #89ecff;
}



/* ------------------------------  Stop filter-block ------------------------------ */
/* ------------------------------  Start category ------------------------------ */
.category{	
	overflow: hidden;
	width: 1202px;
	min-height: 441px;
	margin: 0 auto;
	padding: 21px 14px 0px 14px;
	background: #fff;
	border: 0px solid #D43232;
}
.category ul:nth-child(2){
	margin: 0 17px;
}
.cate-block{
	width: 379px;
	float: left;
}
.cate-block > li > h3{
	display: block;
	height: 49px;
	padding-top: 13px;
	text-align: center;
	font-size: 20px;
	color: #424242;
	background: #89ecff;
}
.cate-block > li > img{
	width: 100%;
	height: 166px;
	margin: 0px 0 -3px 0;
}
.cat-desc{
	padding: 0 11px;
	background: #e6e7e9;	
}
.cat-desc > a{
	display: block;
    height: 58px;
    padding: 21px 00px 0 00px;
    font-size: 13px;
    color: #696969;    
    border-bottom: 1px dashed #000;
}
.cat-desc > a:after {
    content: "";
    width: 16px;
    height: 8px;
	margin: 5px 0px 0 0;
    background: url(images/category/cat-desc-after.png)no-repeat;
    float: right;
}
.cat-desc > a:hover{
	opacity: 0.8;
}
.cate-block > li:last-child a{
	border: none;
}
/* ------------------------------  Stop category ------------------------------ */
/* ------------------------------  Start slider-center ------------------------------ */
.slider-center{
	width: 1202px;
	height: 182px;
	margin: 0 auto;
	background: #fff;
    border-top: 1px solid #0ce0f0;
    border-bottom: 1px solid #0ce0f0;
}
.popular-products{
	width: 295px;
	height: 181px;
	padding: 46px 0 0 48px;
	background: url(images/slider-center/popular-products-bg.png) no-repeat;
	float: left;
}
.popular-products h2{
	font-weight: 600;
	font-size: 50px;
    color: #fff;
}
.popular-products h2 span{
	display: block;	
	padding: 0 0 5px 0;
    font-weight: 400;
	font-size: 25px;
}
.slider-center-block{
	float: left;
}
.slider2-desc{
    height: 180px;
    padding: 23px 0 0 3px;
	font-weight: 300;
	border-right: 1px solid #0ce0f0;
}
.slider2-desc a{
	display: block;
	letter-spacing: .5px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	color: #ff0000;
}
.slider2-desc img{
	display: table;
	margin: 0 auto;
}
.slider2-desc span{
	display: block;
	padding: 24px 0 4px 0;
	text-align: center;
	font-size: 14px;
	color: #424242;
	letter-spacing: .5px;
}
.popular-products2{	
	width: 27px;
	height: 181px;
	background: url(images/slider-center/popular-products2-bg.png) no-repeat;
	float: right;
}
/* ------------------------------  Stop slider-center ------------------------------ */
/* ------------------------------  Start thumbnails-img ------------------------------ */
.thumbnails-img{
	overflow: hidden;
	width: 1202px;
	height: 454px;
	margin: 0 auto;
	padding: 22px 14px 0px 14px;
	background: #fff;
	border: 0px solid #2242AF;
}
.ti-block{
	position: relative;
	float: left;
}
.thumbnails-img div:nth-child(2) {	
    padding: 0 20px;
}
.thumbnails-img h3{
	position: absolute;	
	font-weight: 600;
	font-size: 40px;
    color: #203757;
}
.thumbnails-img h3 span{
	display: block;	
	font-size: 25px;
}

.thumbnails-img div:nth-child(2) h3{
	bottom: 22px;
    left: 43px;
    line-height: 46px;
}
.thumbnails-img div:last-child h3{
	top: 6px;
    left: 19px;
    line-height: 46px;
}
/* ------------------------------  Stop thumbnails-img ------------------------------ */
/* ------------------------------  Start slider-bottom ------------------------------ */
.slider-bottom{
	width: 1202px;
	height: 150px;
	margin: 0 auto;
	padding: 16px 14px 0px 14px;
	background: #fff;
	border: 0px solid #00eff0;
}
.slider3-block{
	overflow: hidden;
	height: 90px;
    padding: 4px 80px 0 0;
	border: 3px solid #89ecff;
}
.slider3-block a{
    display: block;
    padding: 9px 22px 0 15px;	
    cursor: pointer;
	float: left;
}
.slider3-block h3{
	font-size: 26px;
    color: #424242;
    float: left;
}
.slider3-block p{
	width: 75%;
	padding-top: 13px;    
	font-size: 15px;
    color: #424242;
    letter-spacing: 0.4px;
    opacity: 0.8;
    float: left;
}

/* ------------------------------  Stop slider-bottom ------------------------------ */
/* ------------------------------  Start footer ------------------------------ */
footer{
	width: 1202px;
	height: 331px;
	margin: 0 auto;
	background: #fff;
	border: 0px solid #00ff00;
}
/*-- footer-social --*/
.footer-social{
	width: 100%;
	height: 41px;	
	background: #000;
}
.social{	
	overflow: hidden;
	padding: 11px 17px 0 0;
	float: right;
}
.social li{	
    padding-left: 13px;
	float: left;
}
/*-- footer-inner --*/
.footer-inner{
	overflow: hidden;
	padding: 27px 0 0 90px;
	font-family: 'SegoeUIRegular';
	font-size: 14px;
	color: #333;
}
.footer-inner ul{
	float: left;
}
.fi-block-1{
	width: 24.6%;
}
.fi-block-2{
	width: 26.5%;
}
.fi-block-3{
	width: 21.8%;
}
.fi-block-4{
	width: 20.6%;
}
.footer-inner a{
	text-decoration: none;
    line-height: 17px;
	color: #333;
}
.footer-inner a:hover{
	text-decoration: underline;
	opacity: 0.8;
}
.footer-inner{
	line-height: 17px;
}
.footer-inner ul h4{
	padding-bottom: 22px;
	padding-left: 2px;
}
.footer-inner ul h4 a{
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 18px;    
}
.footer-inner .phone{
    margin: -10px 0 10px 0;
	font-size: 16px;
}
/* ------------------------------  Stop footer ------------------------------ */
/*-----------------------------------------------------------------------------------*/
/*  CATALOG
/*-----------------------------------------------------------------------------------*/
/* spart header */
.catalog-nav{	
	width: 100%;	
	background: #fff;
	border-top: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
}
.hni-catalog{
	width: 1202px;
    margin: 0 auto;
}
.catalog-nav .header-nav-inner a{
	color: #636363;
}
.catalog-nav .header-nav-inner span{
	background: #e6e7e9;
}
.home{
    display: block;
    width: 55px;
    float: left;
    position: absolute;
}
.home img{
    padding: 13px 0 0 15px;
	float: left;
}
.home span {
    display: block;
    margin: 10px 0 0 0;
    width: 1px;
    height: 29px;
    background: #e6e7e9;
}
.home span:first-child{
	float: left;
}
.home span:last-child{
    float: right;
}
.header-inner-catalog .card {
    padding: 52px 0 0 0;
    background: url(images/page-catalog/card-bg-catalog.png) center 0px no-repeat;
}
.header-inner-catalog .form-number {
    margin-left: 190px;}
.header-inner-catalog .phone-number:before {
    background: url(images/page-catalog/phone-number-before.png) no-repeat right center;
}
/* stop header */

/* spart page-title-map */
.page-title-map{
	width: 1202px;
    margin: 0 auto;
    padding: 7px 0 5px 12px;
    font-size: 10px;
    color: #636363;
    background: #fff;
}
.page-title-map a{
    color: #636363;

}
/* stop page-title-map */
/* spart filter-block-catalog */
.filter-block-catalog{
    width: 1202px;
    margin: 0 auto;
}
/* stop filter-block-catalog */
/* spart catalog-content */
.catalog-content{
	width: 1202px;
    margin: 7px auto 0 auto;
    padding: 20px 12px 260px 7px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #424242;
    background: #fff;
}
.catalog-content h2{
	padding: 0px 0 17px 5px;
	font-weight: 600;
}
.catalog-content-inner{
	overflow: hidden;
	padding: 16px 0 0 5px;
    border-top: 1px solid #e6e7e9;
}
.cci-block > li{
	display: block;
}
.cci-block > li > ul:last-child{
	margin-right: 0;
}
.catalog-block{
	position: relative;
	width: 222px;
	margin-right: 17px;
	margin-bottom: 17px;
    padding: 17px 5px 8px 0;
	border: 1px solid #e6e7e9;
	float: left;
}
.catalog-block > li > a{
	display: block;
}
.catalog-block > li > a > img{
	display: block;
	margin: 0 auto;
}
.cat-price{
	overflow: hidden;
    padding: 16px 0 9px 10px;
}
.cat-price span{
	display: block;
	float: left;
}
.cp-apan-1{
	padding: 5px 7px 0 0;
	text-decoration: line-through;
}
.cp-apan-2{
	font-size: 20px;
	color: #ff0000;
}
.cp-apan-3{
	margin: 3px 0 0 7px;
	padding: 3px 5px;
	font-size: 10px;
	background: #89ecff;
}
.catalog-block > li > p{
    padding: 0 0 0 13px;
    opacity: 0.7;
	font-weight: 300;
}
.hit{
	position: absolute;
	top: 0;
	left: -5px;
}
.catalog-block-big{
	width: 461px;
	height: 583px;
	margin-bottom: 17px;
    padding: 61px 5px 8px 0;
	border: 1px solid #e6e7e9;
	float: right;
}
.catalog-block-big > li > a{
	display: block;
}
.catalog-block-big > li > a > img{
	display: block;
	width: 315px;
	margin: 0 auto;
}
.catalog-block-big  .cat-price {
    display: table;
    margin: 0 auto;
    padding: 42px 0 9px 1px;
}
.catalog-block-big .cp-apan-1{
	padding: 5px 7px 0 0;
	font-size: 18px;
}
.catalog-block-big .cp-apan-2{
	font-size: 24px;
	color: #ff0000;
}
.catalog-block-big .cp-apan-3{
	margin: 3px 0 0 7px;
	padding: 3px 5px;
	font-size: 12px;
	background: #89ecff;
}
.catalog-block-big > li > p{    
    padding: 1px 52px 0 0;
    text-align: center;
	font-size: 18px;
	opacity: 0.7;
}
/* stop catalog-content */
/*-----------------------------------------------------------------------------------*/
/*  CATALOG
/*-----------------------------------------------------------------------------------*/
.page-product{
    overflow: hidden;
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    font-size: 17px;
    background: #fff;
    border-radius: 5px;
}
/* product-slider-inner */
.product-slider-inner {
    width: 628px;    
    padding: 0px 16px 0 0;    
    float: left;
}

#bx-pager a img {
    margin-bottom: 4px;
	border: 1px solid #e6e7e9;
}
#bx-pager a.active img {
	border: 1px solid #727272;
}
.span-name{
	position: absolute;
    bottom: -56px;
    right: 0;
    color: #737373;
}
/* product-code */
.product-code{
	width: 310px;
	float: right;
}
.product-code span{
	display: inline-block;
}
.pc-span{
    margin-top: -2px;
	font-weight: 300;
	color: #878787;
}
.product-code h1{
    padding: 10px 0 20px 0;
	font-weight: 600;
	font-size: 60px;
	color: #ff0000;
}
.product-code h2{
	line-height: 20px;
	font-weight: 600;
	color: #000;
}
.product-code h3{
	padding: 14px 0 2px 0;
	font-weight: 600;
	color: #565656;
}
.product-code p{
	line-height: 19px;
	font-size: 13px;
	color: #565656;
}
.stock, .dimensions{
    font-weight: 600;
	color: #000;
}
.stock{
    padding: 11px 10px 6px 0;
}
.stock-nun{
	color: #6a6a6a;
}
.dimen-block{
	overflow: hidden;
}
.dimen-block li{
	margin-top: 9px;
	padding: 0px 4px 0px 0;
	float: left;
}
.dimen-block li a{
	display: block;
    width: 34px;
    padding: 4.5px 0;
    text-align: center;
	text-decoration: none;
	font-size: 12px;
	color: #515151;
	border: 1px solid #807D7D;
	border-radius: 3px;
	box-shadow: 0px 0px 1px rgba(1,1,1,0.5);
}
.dimen-block li a:hover{
	background: #bababa;
	color: #fff;
}
.dimen-block li:last-child a{
	width: 100px;
	text-decoration: underline;
	color: #ff0000;
}
.order-card{
	overflow: hidden;
}
.order-card li:first-child{
    margin-top: 13px;
	float: left;
}
.order-card li:last-child{
    margin-top: 13px;
	float: right;
}
.order-card li a{
	display: block;
	width: 149px;
	height: 40px;
	padding-top: 15px;
	text-align: center;
	font-weight: 600;
	font-size: 13px
}
.order-card li:first-child a{
	background: #1e3758;
	color: #fff;
}
.order-card li:last-child a{
	background: #b5f7fd;
	color: #424242;
}
.order-card li:first-child a:hover{
	background: #ccc;
	color: #1e3758;
}
.order-card li:last-child a:hover{
	background: #424242;
	color: #b5f7fd;
}
.order-opsions li{
	display: block;
}
.order-opsions li span{
	font-weight: 600;
    color: #000;
    float: left;
}
.manufacturer{
	padding-top: 9px;
}
.manufacturer span:last-child{
	margin: -1px 0 0 8px;
}
.country{
    padding-top: 6px;
}
.country span:last-child{
	margin: -4px 0 0 6px;
}
.opsions_ span{
	padding: 10px 0 8px 0;
}
.opsions_block{
	overflow: hidden;	
}
.opsions_block li{
	margin-right:11px;
	float: left;
}
.opsions_block li a{
	display: block;
	width: 96px;
	height: 40px;	
	padding: 10px 0 0 0;
	text-align: center;	
	font-family: 'SegoeUIBold';	
	color: #535353;
	background: #e6e7e9;
	border-radius: 5px;	
}
.opsions_block li a:hover{
	opacity: 0.7;
}
.opsions_block li:last-child{
	margin-right: 0;
}
.opsions_block li:first-child a{
	position: relative;
}
.opsions_block li:first-child a:before{
	position: absolute;
    left: 6px;
    top: 15px;
	content: '';
	display: block;
	width: 7px;
	height: 7px;
	background: url(images/products/opsions_block-a-first.png) no-repeat 0 0; 
}
.opsions_block li:first-child a:after{
	position: absolute;
    right: 6px;
    top: 15px;
	content: '';
	display: block;
	width: 7px;
	height: 7px;
	background: url(images/products/opsions_block-a-first.png) no-repeat -8px 0; 
}
.opsions_block li:nth-child(2) a{
	position: relative;
    padding-left: 25px;
}
.opsions_block li:nth-child(2) a:before{
	position: absolute;
    left: 16px;
    top: 8px;
	content: '';
	display: block;
	width: 24px;
	height: 19px;
	background: url(images/products/opsions_block-a-second.png) no-repeat 0 0; 
}
/* also-bought */
.also-bought{
	float: left;
}
.also-bought h3{
	padding: 17px 0 17px 0;
	font-weight: 600;
	color: #000;
}
.also-bought ul{
	overflow: hidden;
}
.also-bought li{
	width: 200px;
	margin-right: 14px;
    padding: 48px 0 12px 0;
	border: 1px solid #e6e7e9;
	float: left;
}
.also-bought li a{
	display: block;
	text-decoration: none;
}
.also-bought li a:hover{
	opacity: 0.8;
	text-decoration: underline;
}
.also-bought li a img{
    display: block;
    margin: 0 auto;
}
.also-bought li a span{
	display: block;
	padding: 15px 0 0 8px;	
	text-align: center;	
	font-family: 'SegoeUIBold';	
	color: #000000;
}
/*-----------------------------------------------------------------------------------*/
/*  CARD
/*-----------------------------------------------------------------------------------*/
/* spart card-content */
.card-content{
	width: 1202px;
    margin: 22px auto 0 auto;
    padding: 51px 12px 260px 17px;
    font-size: 15px;
    color: #424242;
    background: #fff;
}
.card-content-inner{
	overflow: hidden;
	padding: 16px 0 0 5px;
}
/* card-ci-block */
.card-ci-block > li{
	display: block;
}
.card-ci-block > li > ul:last-child{
	margin-right: 0;
}
.card-block{
	position: relative;
	width: 178px;
	margin-right: 17px;
	margin-bottom: 17px;
    padding: 17px 5px 5px 0;
    text-align: center;
	border: 1px solid #e6e7e9;
	float: left;
}
.card-block > li > a{
	display: block;
}
.card-block > li > a > img{
	display: block;
	width: 120px;
	margin: 0 auto;
	font-size: 16px;
}
.card-block .cat-price{
	overflow: hidden;
    padding: 3px 0 0px 10px;
}
.card-block .cat-price span{
	float: none;
}
.card-block .cp-apan-2{
	font-weight: 300;
	font-size: 16px;
}
.cp-apan-3{
	margin: 3px 0 0 7px;
	padding: 3px 5px;
	font-size: 10px;
	background: #89ecff;
}
.card-block > li > p{
    padding: 19px 0 0 3px;
	font-weight: 300;
	font-size: 14px;
	letter-spacing: .4px;
}
.del-product{
	position: absolute;
	top: 0;
	right: 0px;
	opacity: 0.5;	
}
.del-product:hover{
	opacity: 1;
}

/* checkout */
.checkout{
	overflow: hidden;
}
/* checkout-form */
.checkout-form{
	width: 504px;
	float: left;
}
.checkout-form h3{
	padding-top: 6px;
	font-weight: 600;
	color: #636363;
}
.checkout-form label{
	display: block;
	padding: 18px 0 5px 0;
	font-size: 15px
}
.checkout-form input{
	width: 250px;
	height: 31px;
	border: 1px solid #d8d8d8;
	border-radius: 3px;
	box-shadow: 0px 0px 1px rgba(1,1,1,0.5) inset;
}
.example-text{
	display: block;
    padding: 5px 0 30px 0;
    font-size: 12px;
    opacity: .5;
}
.checkout-form textarea{
	width: 500px;
	height: 116px;
	border: 1px solid #d8d8d8;
	border-radius: 3px;
	box-shadow: 0px 0px 2px rgba(1,1,1,0.3) inset;
}
.che-input-left{
	width: 250px;
	float: left;
}
.che-input-rihnt{
	width: 250px;
	float: right;
}
/* delivery */
.delivery{
	padding-top: 55px;
}
.delivery-date{
	width: 340px;
	padding-left: 94px;
	font-weight: 600;
	color: #000;
	background: url(images/page-card/delivery-date-bg.png) no-repeat;
	float: left;
}
.delivery-date span{
	display: block;
	padding-top: 4px;
	font-family: 'SegoeUIBold';	
	font-size: 25px;
}
.delivery-input{
	position: relative;
	width: 130px;
	float: right;
}
.delivery-input input[type=text]{
	width: 121px;
	height: 30px;
	padding-left: 35px;
	font-family: 'SegoeUIBold';	
	font-size: 14px;
	background: url(images/page-card/delivery-inpu-bg.png) no-repeat 3px 3px;
}
/* pay-bonus */
.pay-bonus{
	width: 591px;
	float: right;
}
.pay-bonus h3{
	color: #636363
}
.pay-bonus ul{
    padding: 13px 0 0 0;
}
.pay-bonus-li1{
	overflow: hidden;
}
.pay-bonus-li1 a{		
	font-size: 20px;
	color: #70d4fa;
	float: left;
}
.pay-bonus-li1 p{
	display: inline-block;
	padding-left: 11px;
	font-size: 20px;
	color: #797979;	
	float: left;
}
.pay-bonus-li1 p >span{
	font-weight: 900;
	color: #424242;
}
.pay-bonus-li2{
	padding-top: 17px;
}
.pay-bonus-li2 span{	
	font-weight: 600;
}
.pay-bonus-li2 span:first-child{
	padding: 0 10px 0 0px;
	color: #898989;
}
.pay-bonus-li2 span:last-child{
	font-size: 60px;
    color: #ff0000;
}
.pay-bonus-li3, .pay-bonus-li4{
	width: 385px;
	height: 90px;
	padding: 18px 0 0 15px;
	border: 3px solid #89ecff;
	border-radius: 5px;
}
.pay-bonus-li3{
    margin-top: 26px;
}
.pay-bonus-li4{
    margin: 36px 0 8px 0;
}
.pay-bonus-li3 img ,.pay-bonus-li3 a,.pay-bonus-li4 img ,.pay-bonus-li4 a{
	display: block;
	float: left;
}
.pay-bonus-li3 a, .pay-bonus-li4 a{
	text-decoration: none;
	font-size: 20px;
	color: #000;
	opacity: .7;
} 
.pay-bonus-li3 a{
	    padding: 17px 0 0 43px;
}
.pay-bonus-li4 a{
	    padding: 17px 0 0 31px;
}
.pay-bonus-li3 a:hover, .pay-bonus-li4 a:hover{
	text-decoration: underline;
	opacity: 1;
}
.pay-bonus li:last-child{
	padding: 45px 0 13px 45px;
    background: url(images/page-card/promo-code-bg.png) no-repeat 3px 34px;
}
.pay-bonus li:last-child input{
    width: 168px;
    height: 30px;
    padding-left: 5px;
    letter-spacing: 1px;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    box-shadow: 0px 0px 1px rgba(1,1,1,0.5) inset;
}
.pay-bonus li ::-webkit-input-placeholder {color: #9c9c9c;}
.pay-bonus li :-moz-placeholder {color: #9c9c9c;}
.pay-bonus li ::-moz-placeholder {color: #9c9c9c;}
.pay-bonus li :-ms-input-placeholder {color: #9c9c9c;}

/* add-product */
.add-product{
	padding: 40px 0 0 0;
}
.add-product h3{
	font-weight: 600;
	color: #636363;
}
.add-product-inside{
	padding-top: 23px;
}
.add-product-inside > li{
	display: block;
	float: left;
}
.add-product-inside > li:last-child > ul{
	margin-right: 0;
}
.api-block{
	position: relative;
	width: 222px;
	margin-right: 14px;
	margin-bottom: 17px;
    padding: 17px 5px 17px 0;
    text-align: center;
	border: 1px solid #e6e7e9;
}
.api-block > li > a{
	display: block;
}
.api-block > li > a > img{
	display: block;
	width: 153px;
	margin: 0 auto;
	font-size: 16px;
}
.api-block .cat-price{
	overflow: hidden;
    padding: 3px 0 0px 10px;
}
.api-block .cat-price span{
	float: none;
}
.api-block .cp-apan-2{
	font-weight: 300;
	font-size: 16px;
}
.add-product-inside .cp-apan-2{
	margin: 0;
    padding: 1px 0px;
}
.api-block > li > p{
    padding: 21px 0 0 3px;
	font-weight: 300;
	font-size: 14px;
	letter-spacing: .4px;
}
.add-product-a{
	display: block;
	width: 222px;
	height: 51px;
	padding-top: 15px;
	text-decoration: none;
	text-align: center;
	font-size: 18px;
	color: #424242;
	background: #89ecff;
}
.add-product-a:hover{
	text-decoration: underline;
	opacity: 0.8;
}
/* stop card-content */
/* stat footer-card */
.page-footer-card{
	height: 67px;
}
.footer-card{
	background: #333;
}
.footer-social-left{
	position: absolute;
    overflow: hidden;
    display: block;
    width: 620px;
    margin-left: -295px;
    left: 50%;
}
.footer-social-left li{
	float: left;
}
.footer-social-left a{
	padding: 13px 22px 0px 15px;
	text-decoration: none;
	font-weight: 600;
	color: #fff;
	float: left;
	letter-spacing: -0.5px;
}
.footer-social-left a:hover{
	text-decoration: underline;
}
.footer-social-left li:first-child a{
	padding-left: 0;
}
.footer-social-left span{
    display: block;
    margin: 12px 0px 0 0px;
    width: 1px;
    height: 29px;
    background: #fff;
    float: right;
}
/* stop footer-card */














